html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #2e2e2e;
    line-height: 1.5;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}

    div.wrap {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-left-style: solid;
        border-left-width: 16px;
        border-color: #3e3e3e;
        border-radius: 16px;
        padding: 3px 20px 3px 20px;
        background: #dedede;
        box-shadow: 0 0 8px rgba(0,0,0,0.05);
    }


header {
    padding: 50px 10px 30px 10px;
}

footer {
    padding: 20px 10px 30px 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 42px;
    text-shadow: #111 0px 0px 10px;
}

footer p, footer a {
    margin: 10px 0 15px 0;
    color: #f2f2f2;
}

header a, a.link {
    text-decoration: none;
}

p.link {
    color: #222222;
    font-size: 20px;
}

.inner {
    position: relative;
    margin: 0 auto;
    padding: 50px 10px 30px 10px;
    max-width: 640px;
}

#main_wrap {
    background: #f2f2f2;
}

#main_content {
    padding-top: 40px;
}
